body {
	background-color:#000000;
}

p,i,table,form {
	color:#ffffff;
}

b {
	color : #D42471;
}

h1 {
	color:  #6666ff;
	text-align: center
}

a {
	color: #00ffff;
	text-decoration: none;
}

a:hover {
	 color: #D42471;
}

table,th,td {
	border: 2px solid #D42471;
	text-align: center;
}

#tip {
	color: #6666ff;
	position: fixed;
	bottom: 10px;
	right: 50px;
	border: solid #6666ff;
	padding:10px;
	background-color: black;
}

.data_tab {
	margin-left:auto;
	margin-right:auto;
}

em{
	color:#FF00FF;
}

li{
	color:#FFFFFF;
}


#afficheTas{    
        background-color: #262626;
        border: solid thin #FF00FF;
        color: #FF00FF;
        cursor: pointer;
}


#ok{
	background-color: #262626;
	border: solid #6666FF;
	color: #D42471;
	cursor: pointer;
}
